body {
    overflow-x: hidden;
    font-family: "Cardo", serif,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

h6 {
    margin-bottom: 25px;
    text-transform: lowercase;
    font-family: "Playfair Display","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 100%;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Cardo","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 140%;

@media(min-width:768px) {

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Cardo","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 140%;
}

}
@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

@media(min-width:768px) {
  h6 {
      margin-bottom: 50px;
      text-transform: lowercase;
      font-family: "Playfair Display","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 100spx;
      font-weight: 800;
      line-height: 100%;
  }
}

header {
    text-align: left;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: lowercase;
    font-family: "Playfair Display","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 100%;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 28px;
        font-style: normal;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: lowercase;
        font-family: "Playfair Display","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 80px;
        font-weight: 900;
        line-height: 100%;
    }
}

.btn-primary {
    border-color: #fed136;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #fed136;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
    margin-right: 20px;
    margin-bottom: 10px;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.navbar-default .navbar-brand {
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fed136;
    font-weight: 700;
    text-align: center;
}
