body {
    overflow-x: hidden;
    font-family: "Open Sans", serif,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 16;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
},
h6


h6 {
    margin-bottom: 25px;
    text-transform: lowercase;
    font-family: "Playfair Display","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 100%;
}

@media(min-width:768px) {
  h6 {
      margin-bottom: 50px;
      text-transform: lowercase;
      font-family: "Playfair Display","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 80px;
      font-weight: 800;
      line-height: 100%;
  }
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Playfair Display","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 140%;
}

@media(min-width:768px) {
  section h3.section-subheading {
      margin-bottom: 75px;
      text-transform: none;
      font-family: "Playfair Display","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      line-height: 150%;
  }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

header {
    text-align: left;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg2.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 2px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: lowercase;
    font-family: "Playfair Display","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 100%;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 18px;
        font-style: normal;
        line-height: 40px;
        letter-spacing: 4px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: lowercase;
        font-family: "Playfair Display","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 80px;
        font-weight: 900;
        line-height: 100%;
    }
}

section h2.section-heading {
    font-family: "Playfair Display","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 100%;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 15px;
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

.btn-primary {
    border-color: #e31c3d;
    text-transform: none;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #e31c3d;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #cd2026;
    color: #fff;
    background-color: #cd2026;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #e31c3d;
    background-color: #e31c3d;
}

.btn-primary .badge {
    color: #e31c3d;
    background-color: #fff;
}

.btn-xl {
    padding: 15px 40px;
    border-color: #e31c3d;
    border-radius: 3px;
    text-transform: none;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #e31c3d;
    margin-right: 5px;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #cd2026;
    color: #fff;
    background-color: #cd2026;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #e31c3d;
    background-color: #e31c3d;
}

.btn-xl .badge {
    color: #e31c3d;
    background-color: #fff;
}


.btn-blue {
    padding: 15px 40px;
    border-color: #0071bc;
    border-radius: 3px;
    text-transform: none;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #0071bc;
    margin-right: 5px;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-xl {
    border-color: #205493;
    color: #fff;
    background-color: #205493;
}

.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
    border-color: #0071bc;
    background-color: #0071bc;
}

.btn-blue .badge {
    color: #0071bc;
    background-color: #fff;
}








.navbar-default {
    border-color: transparent;
    background-color: #323a45;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fed136;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .nav li a {
    text-transform: none;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fed136;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

.navbar-brand img
{
    max-height: 100%;
    padding: 0 0;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        height: 120px;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #323a45;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
        height: 50px;
        padding: 0 0;
    }
}


.bg-darkest-blue {
    background-color: #323a45;
}

.bg-light-blue {
    background-color: #ECEFF1;
}

.bg-light-gray {
    background-color: #efefef;
}

section#donate .section-heading {
    color: #000;
}

section#donate .form-group .form-control {
    margin-bottom: 25px;
}

section#donate .form-group input,
section#donate .form-group textarea {
    padding: 15px;
}

section#donate .form-group input.form-control {
    height: auto;
}

section#donate .form-group textarea.form-control {
    height: 110px;
}

section#event {
    background-color: #fff;
    background-image: url(../img/event.png);
    background-position: center;
    background-repeat: no-repeat;
}
